<!DOCTYPE html>
<html lang="en" ng-app="guitarApp">
<head>
  <meta charset="UTF-8">
  <title>Practice 50</title>
</head>
<body ng-controller="PageController">

  <!-- test 1: using $scope without 'controllerAs syntax' -->

  <h1>{{ title }}</h1>
  <input type="text" ng-model="title">

  <div ng-controller="GuitarController">
    <h3>{{ title }}</h3>
    <input type="text" ng-model="title">
  </div>
  
  <script src="../angular.js"></script>
  <script src="app.js"></script>
  <script src="pageController.js"></script>
  <script src="guitarController.js"></script>
</body>
</html>