<!DOCTYPE html>
<html lang="en" ng-app="guitarApp">
<head>
  <meta charset="UTF-8">
  <title>Test 03</title>
</head>
<body ng-controller="PageController as pageCtrl">

  <!-- teste 3: ligando 'this' com sintaxe 'controllerAs' -->
  <!-- usando diferentes apelidos para determinar o auxiliar 'controllerAs' -->

  <h1>{{ pageCtrl.title }}</h1>
  <input type="text" ng-model="pageCtrl.title">

  <div ng-controller="GuitarController as guitarCtrl">
    <h3>{{ guitarCtrl.title }}</h3>
    <input type="text" ng-model="guitarCtrl.title">
  </div>
  
  <script src="../angular.js"></script>
  <script src="app.js"></script>
  <script src="pageController.js"></script>
  <script src="guitarController.js"></script>
</body>
</html>